body {
    background-color: white;
    color: darkred;
    text-align: center;
    margin: 0 auto;
}

#container{
    background-color: beige;
    margin: 20px;
    border: 1px solid darkred;
    border-radius: 15px;
    padding: 10px;
    min-height: 300px;
}

#test-css {
    margin-top: 20px;
    color: darkblue
}

#test-js {
    margin-top: 40px;
    color: darkgreen
}
