body {
    background-color: white;
    color: darkred;
    font-family: 'Franklin Gothic Medium', 
        'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 300%;
}

#container{
    background-color: beige;
    margin: 20px;
    border: 1px solid darkred;
    border-radius: 15px;
    padding: 10px;
    min-height: 300px;
}

#test-css {
    margin-top: 20px;
    color: darkblue
}

#test-js {
    margin-top: 40px;
    color: darkgreen
}
