body {
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: beige;
    border: 1px solid darkred;
    border-radius: 15px;
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 250px;
    position: relative;
}

@media only screen and (max-width: 800px) {
    body {
        border: none;
        margin-top: 0px;
    }
}

h1 {
    font-family: "Acme", sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
}

.clock {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kuku-message {
    font-family: "Acme", sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    color: darkred;
    margin-top: 40px;
    margin-bottom: 60px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.kuku-message span {
    visibility: hidden; /* Hide text by default */
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth opacity transition */
}

.kuku-image {
    max-width: 100%; /* Make the image fill the container */
    max-height: 100%; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image fits inside the container without distortion */
    position: absolute; /* Position the image absolutely within the container */
}

.kuku-message.visible span {
    visibility: visible; /* Show text when message is visible */
    opacity: 1;
    position: relative; /* Ensure text is positioned correctly */
    z-index: 1; /* Ensure text appears above the image */
}

.selector {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid darkred;
    border-radius: 5px;
    color: darkred;
    background-color: whitesmoke;
}

.menu-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.back-container {
    position: absolute;
    top: 0px;
    left: 10px;
}

@media only screen and (min-width: 800px) {
    .menu-container {
        right: 20px;
    }

    .back-container {
        left: 20px;
    }
}

.menu-button, .back-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    color: darkred;
}

.about-section {
    margin-top: 40px;
    text-align: left;
}
